body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color:white;
}

.header {

    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    
    background-color:rgb(245, 245, 245);
}

.section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hoverinfo {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(0,210,255,0.9) 0%, rgba(58,123,213,0.9) 100%);    color: white;

    text-align: center;
    color: white;

    opacity: 0;
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
}

.hoverinfo:hover {
    opacity: 1;
}

.short {
    background-color: rgb(245, 245, 245);
    text-align: center;
    color: gray;
    padding-top: 100px;
    padding-bottom: 100px;
}

.links {
    color: rgba(58,123,213,1) !important;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;  
    line-height: 2; 

    -webkit-transition: .2s ease-in-out color;
    -moz-transition: .2s ease-in-out color;
    -o-transition: .2s ease-in-out color;
    transition: .2s ease-in-out color;

}

.links:hover {
    color: rgb(20, 63, 122) !important;
}

h2 {
    font-size: 44px;
    color: rgba(58,123,213,1);
    margin-top: 0px;
    margin-bottom: 0;
}

h3 {
    color: gray;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 2;
}

h4{
    padding: 0;
    margin: 0;
    padding-top: 160px;
    font-size: 50px;
    text-shadow: 0px 3px 6px #00000066;
}

h5 {
    font-weight: normal;
    font-size: 20px;

    padding-left: 10%;
    padding-right: 10%;

    text-shadow: 0px 3px 6px #00000066;

    line-height: 2;
}

a {
    text-decoration: none;
}