body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color:white;
}

.header {

    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    color: #444444;
}

.hoverinfo {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(0,210,255,0.9) 0%, rgba(58,123,213,0.9) 100%);   
    color: white;

    text-shadow: 0px 3px 6px #00000066;

    text-align: center;
    color: white;

    opacity: 0;

    -webkit-transition: .3s ease-in-out opacity;
    -moz-transition: .3s ease-in-out opacity;
    -o-transition: .3s ease-in-out opacity;
    transition: .3s ease-in-out opacity;
}

.hoverinfo:hover {
    opacity: 1;
}

.footer {
    background-color: rgb(245, 245, 245);
    text-align: center;
    color: gray;
    padding-top: 100px;
    padding-bottom: 100px;
}

.short {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
    text-align: center;
}

.long {
    height: 800px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.projectinfo {
    margin-top: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

.links {
    color: rgba(58,123,213,1) !important;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;  
    line-height: 2; 

    -webkit-transition: .2s ease-in-out color;
    -moz-transition: .2s ease-in-out color;
    -o-transition: .2s ease-in-out color;
    transition: .2s ease-in-out color;

}

.links:hover {
    color: rgb(20, 63, 122) !important;
}

.caption {
    width: 100%;
    padding-top: 710px;
}

.hero {
    height: 600px;
    padding-top: 100px;
}

.banner {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.beta {
    color: white;
    font-weight: bold;
    font-size: 24px;

    transition: color .2s ease-in-out, border-bottom .2s ease-in-out;

    border-bottom: 2px white solid;
    padding-bottom: 2px;  

}

.beta:hover {
    color: rgb(20, 63, 122) !important;
    border-bottom: 2px rgb(20, 63, 122) solid;
}

h2 {
    font-size: 44px;
    color: rgba(58,123,213,1);
    margin-top: 0px;
    margin-bottom: 0;
}

h3 {
    color: gray;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 2;
}

h4{
    padding: 20px;
    margin: 0;
    padding-top: 200px;

    font-size: 50px;
}

h5 {
    font-weight: normal;
    font-size: 20px;

    padding-left: 10%;
    padding-right: 10%;

    text-shadow: 0px 3px 6px #00000066;

    line-height: 2;
}

h6 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

p {
    font-size: 18px;
    color: #888888;
    margin: 0px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .long {
        height: 500;
        padding-left: 10%;
        padding-right: 10%;
    }

    .caption {
        padding-top: 335px;
    }

    .banner {
        height: 300px;
    }

    .section {
        height: 400px;
    }

    h4 {
        padding-top: 80px;
        font-size: 30px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}