@import url(_fonts.css);
@import url(_scss.css);


:root {
    --gray-100: #FAFAFA;
    --gray-200: #E3E3E3;
    --gray-300: #C9C9C9;
    --gray-400: #B0B0B0;
    --gray-500: #969696;
    --gray-600: #969696;
    --gray-700: #666666;
    --gray-800: #4F4F4F;
    --gray-900: #353535;

    --primary-100: #DEF1F2;
    --primary-200: #B3EBEF;
    --primary-300: #88E1E7;
    --primary-400: #6CCED5;
    --primary-500: #42C1C9;
    --primary-600: #2F9FA7;
    --primary-700: #1D767C;
    --primary-800: #11474A;
    --primary-900: #062A2D;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-100);
    font-family: Lato;
    font-weight: 500;
    color: var(--gray-900);
    /* min-width: 950px; */
}

.top-border {
    background: linear-gradient(-90deg, #6CCED5 0%, #2F9FA7 100%);
    height: 8px;
}

.header {
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 32px;
    vertical-align: baseline;

    max-width: 1300px;

}

.header-text {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    position: relative;
    top: -22;
    padding-left: 24px;
}

.profile-pic {
    height: 64px;
    width: 64px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.links {
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 22px;
}

.link {
    margin-left: 48px;
    color: var(--primary-900);
}

.active {
    color: var(--primary-600);
    font-weight: 600;
    /* text-decoration: underline; */
}

.rectangle {
    height: 512px;
    width: 33.33%;
}

.rectangle.right {
    text-align: left;
}

.rectangle.left {
    text-align: right;
}

.iu-bg {
    background-color: #4B2724;
}

.tedx-bg {
    background-color: #4F4F4F;
}

.steps-bg {
    background-color: #0A508C;
}

.pi-bg {
    background-color: #7c420b;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.section {
    padding-top: 128px;
    height: 512px;

    max-width: 1300px;
    margin: 0 auto;

}

.section-hero--right {
    height: 520px;
    bottom: 64px;
    left: -8.33%;
    position: relative;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));

    -webkit-transition: .3s ease-in-out transform;
    -moz-transition: .3s ease-in-out transform;
    -o-transition: .3s ease-in-out transform;
    transition: .3s ease-in-out transform;
}

.section-hero--left {
    height: 520px;
    position: relative;
    bottom: 64px;
    left: 8.33%;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));

    -webkit-transition: .3s ease-in-out transform;
    -moz-transition: .3s ease-in-out transform;
    -o-transition: .3s ease-in-out transform;
    transition: .3s ease-in-out transform;

}

.section-hero--left:hover {    
    transform: translateY(-10px);    
}

.section-hero--right:hover {    
    transform: translateY(-10px);    
}

.section-info {
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.section-info.right {
    padding-right: 100px;
}

.section-info.left {
    padding-left: 100px;
}

.section-title {
    font-weight: 700;
    line-height: 3.75rem;
    font-size: 3.75rem;
    margin-bottom: 16px;
}

.section-link {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.05em;

    color: var(--primary-600);
}

.section-desc {
    margin-bottom: 16px;
}

.project-type {
    font-style: italic;
    font-weight: 500;
    font-size: 1.125rem;
    padding-bottom: 24px;
}

.profile-banner {
    height: 384px;
    /* background: linear-gradient(180deg, #F2DA4A 0%, #F2DB4A 55.25%, #EAD146 100%); */
    background-image: url(./images/bg-01.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.profile-banner-img {
    height: 384px;
}

.profile-banner-info {
    display: inline-block;
    top: -50%;
    transform: translateY(50%);
    position: relative;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
    left: 32px;

}

.about-me {
    width: 50%;
    max-width: 598px;
}

.button {
    background-color: var(--primary-500);
    padding: 8px 24px;
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-100);
    border-radius: 10px;

    -webkit-transition: .1s ease-in-out background-color;
    -moz-transition: .1s ease-in-out background-color;
    -o-transition: .1s ease-in-out background-color;
    transition: .1s ease-in-out background-color;
}

.button:hover {
    background-color: var(--primary-600);
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    -webkit-transition: .2s ease-in-out border-bottom;
    -moz-transition: .2s ease-in-out border-bottom;
    -o-transition: .2s ease-in-out border-bottom;
    transition: .2s ease-in-out border-bottom;

    border-bottom: transparent 1px solid;
    text-decoration: none;
}

a:hover {
    border-bottom: var(--primary-600) 1px solid;
}


@media only screen and (max-width: 1000px) {
    .section-hero--left, .section-hero--right {
        height: 400px;
    }

    .rectangle {
        height: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-info.left {
        padding-left: 50px;
    }

    .section-info.right {
        padding-right: 50px;
    }

    .section-title {
        font-size: 3rem;
        line-height: 1;
    }
}

@media only screen and (max-width: 568px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 24px;
    }

    .profile-pic {
        height: 32px;
        width: 32px;
    }

    .header-text {
        top: -10px;
        padding-left: 8px;
        font-size: 0.875rem;
    }

    .links {
        font-size: 0.875rem;
        padding-top: 10px;
    }

    .link {
        margin-left: 24px;
    }

    .section {
        height: inherit;
    }

    .rectangle {
        height: 192px;
        width: 66.66%;
        float: inherit;
        text-align: right !important;

    }

    .section-hero--left {
        left: 33.33%;
        width: auto;
        height: 256px;
        bottom: 0;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .section-hero--right {
        left: 33.33%;
        width: auto;
        height: 256px;
        bottom: 0;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .section-hero--left:hover {    
        transform: translateY(-60%);    
    }
    
    .section-hero--right:hover {    
        transform: translateY(-60%);    
    }

    .section-info {
        float: inherit;
        text-align: left;
        transform: inherit;
        padding-left: 24px !important;
        padding-right: 24px !important;
        padding-top: 64px;
        width: auto !important;
        margin: 0 !important;
    }

    .section-title {
        font-size: 1.875rem;
        line-height: 1;
    }

    .section-desc {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}